@page
@model JobBoard.Web.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Job</h2>

<h5>Are you sure you want to delete this?</h5>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobEntity.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobEntity.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobEntity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobEntity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobEntity.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobEntity.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobEntity.ExpiresAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobEntity.ExpiresAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="JobEntity.JobId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
