@page
@model JobBoard.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h4>Jobs List</h4>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobEntity[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobEntity[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobEntity[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobEntity[0].ExpiresAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobEntity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiresAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.JobId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.JobId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.JobId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
